:root {
  --loader-bg: linear-gradient(135deg, #1a1a1a 0%, #12121c 100%);
  --body-bg: url("./imgs/beautiful-shining-stars-night-sky.jpg");
  --glassy-bg: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.02));
  --glassy-filter: blur(10px);
  --dark-color: #181818;
  --light-color: #ffffff;
  --light-gray: #a8a8a8;
  --dark-gray: ;
  --border: 0.5px solid rgba(255, 255, 255, 0.3);
  --btn-border: 1px solid #fff;
  --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@font-face {
  font-family: "binaryFont";
  src: url(./fonts/binchrt.ttf);
}

@font-face {
  font-family: "fontOne";
  src: url(./fonts/font1/Gotham.ttf);
}

@font-face {
  font-family: "fontTwo";
  src: url(./fonts/font2/Roboto-Medium.ttf);
}

@font-face {
  font-family: "fontFaOne";
  src: url(./fonts/font-fa/Vazirmatn-Light.woff2);
}

@font-face {
  font-family: "fontFaTwo";
  src: url(./fonts/font-fa/Mj_Curves.ttf);
}

@font-face {
  font-family: "fontTwoThin";
  src: url(./fonts/font2/Roboto-Light.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  width: 100svw;
  background: linear-gradient(135deg, #1a1a1a 0%, #12121c 100%);
  color: #fff;
  overflow-x: hidden;
}

main {
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

button {
  background: none;
  border: 3px solid #fff;
  padding: 13px 21px;
  border-radius: 30px;
  font-size: 21px;
  font-weight: bold;
  font-family: "fontTwo", sans-serif;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

input {
  border: none;
  padding: 0 13px;
  stroke: none;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.border-radius {
  border-radius: 20px;
}
